<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="account.forgetPassword" class="page">
		<!-- Scrollable page content-->
		<div class="page-content login-screen-content">
			<div class="login-screen-title">忘记登录密码</div>
				<form action="$!{env.appUrl}/login.htm" method="POST">
					<div class="list-block">
						<ul>
							<li class="item-content">
								<div class="item-inner">
									<div class="item-title label" style="text-align: center;">账号</div>
									<div class="item-input">
                                        <input type="text" name="passport" placeholder="手机号码"></input>
									</div>
								</div>
							</li>
							<li class="item-content">
								<div class="item-inner">
									<div class="item-title label" style="text-align: center;">验证码</div>
									<div class="item-input">
                                        <input type="password" name="password" placeholder="6位登录密码"></input>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="list-block">
						<ul>
							<li>
								<a href="javascript:submit();" class="item-link list-button">登 录</a>
							</li>
						</ul>
						<div class="list-block-label">
							<p><a href="$!{env.appUrl}/account/forgetPassword.htm" data-ignore-cache="true">忘记登录密码？</a></p>
						</div>
					</div>
				</form>
        </div>
    </div>
</div>