<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon iconfont icon-close"></i><span></span></a></div>
		<div class="center sliding"></div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="account.forgetPassword" class="page">
		<!-- Scrollable page content-->
		<div class="page-content login-screen-content">
			<div class="login-screen-title" style="font-size: 25px;">设置登录密码</div>
			<form action="$!{env.appUrl}/login.htm" method="POST">
				<div class="list-block">
					<ul>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label" style="text-align: center;">账号</div>
								<div class="item-input">
                                    13000000000
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label" style="text-align: center;">密码</div>
								<div class="item-input">
                                    <input type="password" name="password" placeholder="设置登录密码"></input>
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label" style="text-align: center;">确认密码</div>
								<div class="item-input">
                                    <input type="password" name="password" placeholder="再次输入密码"></input>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-block" style="width: 90%;">
					<ul>
						<li>
							<a href="#" class="button button-big button-fill" style="background-color: #04BE02;">完 成</a>
						</li>
					</ul>
				</div>
			</form>
        </div>
    </div>
</div>