<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>好社惠</title>
		#ICON()
		#CSSM(["framework7", "iconfont"])
		<link rel="stylesheet" href="$!{env.imgUrl}/css/portal/home.css" />
		#UA()
	</head>
	<body>
		<!-- Views -->
		<div class="views tabs toolbar-through">
			<!-- Your main view, should have "view-main" class -->
			<div id="view-1" class="view view-main tab active" data-page="portal.home">
				<!-- Top Navbar-->
				<div class="navbar" style="background: #ff5500;">
					<div class="navbar-inner">
						<!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
						<div class="center sliding" style="color: white;">好社惠－亭主终端管理系统</div>
					</div>
				</div>
				<!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
				<div class="pages navbar-through toolbar-through">
					<!-- Page, "data-page" contains page name -->
					<div data-page="portal.home" class="page">
						<!-- Scrollable page content -->
						<div class="page-content">
    						<div style="height: 200px;" id="main"></div>
							
							<div class="" style="background-color:#ffffff;">
								<ul class="mui-flex" style="padding: 0;">
									<li class="cell" style="">
										<a class="component type3 tab-link" href="#view-2" id="view_2_click" style="padding:4px" 0px="" 0px;="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/lxsp.png" width="36" height="36"></img>需派送订单
										</a>
									</li>
									<li class="cell" style="">
										<a class="component type3 tab-link" href="#view-3" id="view_3_click" style="padding:4px" 0px="" 0px;="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/lyfs.png" width="36" height="36"></img>采购订单
										</a>
									</li>
									<li class="cell" style="">
                                        <a class="component type3 tab-link" href="#view-5" id="view_5_click" style="padding:4px" 0px="" 0px;="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/kdsf.png" width="36" height="36"></img>采购收货
                                        </a>
									</li>
									<li class="cell" style="">
                                        <a class="component type3 tab-link" href="#view-5" id="view_6_click" style="padding:4px" 0px="" 0px;="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/shjf.png" width="36" height="36"></img>我的资金
                                        </a>
									</li>
								</ul>
							</div>
                        </div>
                    </div>
                </div>
            </div>
			
			<div id="view-2" class="view tab">
				<div class="navbar"><div class="navbar-inner"></div></div>
				<div class="pages navbar-through toolbar-through">
                    <div class="page"></div>
				</div>
            </div>
			
			<div id="view-3" class="view tab">
				<div class="navbar"><div class="navbar-inner"></div></div>
				<div class="pages navbar-through toolbar-through">
					<div class="page"></div>
                </div>
            </div>
			
			<div id="view-4" class="view tab">
				<div class="navbar"><div class="navbar-inner"></div></div>
				<div class="pages navbar-through toolbar-through">
					<div class="page"></div>
                </div>
            </div>
			
			<div id="view-5" class="view tab">
				<div class="navbar"><div class="navbar-inner"></div></div>
				<div class="pages navbar-through toolbar-through">
					<div class="page"></div>
                </div>
            </div>
			
			<div class="toolbar tabbar tabbar-labels">
				<div class="toolbar-inner">
					<a id="href-1" href="#view-1" class="tab-link active">
						<i class="icon iconfont icon-home" style="font-size: 25px;"></i>
						<span class="tabbar-label">首页</span>
                    </a>
                    <a id="href-2" href="#view-2" class="tab-link">
                        <i class="icon iconfont icon-deliver" style="font-size: 25px;"></i>
						<span class="tabbar-label">派送订单</span>
                    </a>
					<a id="href-3" href="#view-3" class="tab-link">
                        <i class="icon iconfont icon-shop" style="font-size: 25px;"></i>
						<span class="tabbar-label">采购中心</span>
                    </a>
					<a id="href-4" href="#view-4" class="tab-link">
                        <i class="icon iconfont icon-cart" style="font-size: 25px;">
							<span id="portal/home/cart"></span>
						</i>
						<span class="tabbar-label">购物车</span>
                    </a>
					<a id="href-5" href="#view-5" class="tab-link">
                        <i class="icon iconfont icon-my" style="font-size: 25px;"></i>
						<span class="tabbar-label">我的中心</span>
                    </a>
                </div>
            </div>
        </div>
		
		#JSM(["framework7", "weixin", "jquery", "common"])
		#JS_ENV_VAL()
		<script src="$!{env.imgUrl}/js/portal/echarts.min.js"></script>
		<script src="$!{env.imgUrl}/js/portal/home.js"></script>
		<script src="$!{env.imgUrl}/js/cart/index.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/item/list.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/member/index.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/trade/list.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/trade/detail.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/trade/refund.js" async="async"></script>
		<script>
        wx.config({
        			debug : false,
        			appId : '$!{ticket.appId}',
        			timestamp : $!{ticket.timestamp},
        			nonceStr : '$!{ticket.nonceStr}',
        			signature : '$!{ticket.signature}',
        			jsApiList : ['scanQRCode']
        		});
        </script>
	</body>
</html>  