<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>好社惠</title>
		#ICON()
		#CSSM(["framework7", "iconfont"])
		<link rel="stylesheet" href="$!{env.imgUrl}/css/portal/home.css" />
		<link rel="stylesheet" href="$!{env.imgUrl}/css/portal/tile.css" />
		#UA()
	</head>
	<body>
		<!-- Views -->
		<div class="views tabs toolbar-through">
			<!-- Your main view, should have "view-main" class -->
			<div id="view-1" class="view view-main tab active" data-page="portal.home">
				<!-- Top Navbar-->
				<div class="navbar">
					<div class="navbar-inner">
						<!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
						<div class="center sliding">$!{shop.shopName}</div>
					</div>
				</div>
				<!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
				<div class="pages navbar-through toolbar-through">
					<!-- Page, "data-page" contains page name -->
					<div data-page="portal.home" class="page">
						<!-- Scrollable page content -->
						<div class="page-content">
							<section class="content">
								<div class="row no-gutter" style="margin-bottom: 10px;">
									<div class="col-50" style="padding-right: 5px;">
										<a href="$!{env.appUrl}/sale/index.htm" class="small-box" style="background-color: #5BC39D; color: #FFFFFF;" data-ignore-cache="true">
											<div class="inner">
												<h3>销售</h3>
												<p id="portal/home/sale">今天：0.00<br/>本月：0.00</p>
											</div>
											<div class="icon">
												<i class="icon iconfont icon-rank"></i>
											</div>
											<div class="small-box-footer">&nbsp;<i class="fa fa-arrow-circle-right"></i></div>
										</a>
									</div>
									<div class="col-50" style="padding-left: 5px;">
										<a href="$!{env.appUrl}/cashflow/index.htm" class="small-box" style="background-color: #F2784B; color: #FFFFFF;" data-ignore-cache="true">
											<div class="inner">
												<h3>资金</h3>
												<p>保证金：0.00<br/>金额：0.00</p>
											</div>
											<div class="icon">
												<i class="icon iconfont icon-recharge"></i>
											</div>
											<div class="small-box-footer">&nbsp;<i class="fa fa-arrow-circle-right"></i></div>
										</a>
									</div>
                                </div>
								<div class="row no-gutter" style="margin-bottom: 10px;">
									<div class="col-50" style="padding-right: 5px;">
										<a href="$!{env.appUrl}/stock/index.htm" class="small-box" style="background-color: #B68FCC; color: #FFFFFF;" data-ignore-cache="true">
											<div class="inner">
												<h3>库存</h3>
												<p id="portal/home/stock">金额：0.00<br/>&nbsp;</p>
											</div>
											<div class="icon">
												<i class="icon iconfont icon-cascades"></i>
											</div>
											<div class="small-box-footer">&nbsp;<i class="fa fa-arrow-circle-right"></i></div>
										</a>
									</div>
									<div class="col-50" style="padding-left: 5px;">
										<a href="#view-3" id="view_3_click" class="small-box tab-link" style="background-color: #59ABE3; color: #FFFFFF;">
											<div class="inner">
												<h3>进货</h3>
												<p>金额：0.00<br/>数量：0</p>
											</div>
											<div class="icon">
												<i class="icon iconfont icon-cart"></i>
											</div>
											<div class="small-box-footer">&nbsp;<i class="fa fa-arrow-circle-right"></i></div>
										</a>
									</div>
                                </div>
								<div class="row no-gutter">
									<div class="col-50" style="padding-right: 5px;">
										<a href="#view-2" id="view_2_click"  class="small-box tab-link" style="background-color: #70A9B7; color: #FFFFFF;">
											<div class="inner">
												<h3>派送单</h3>
												<p>今天：0<br/>本月：0</p>
											</div>
											<div class="icon">
												<i class="icon iconfont icon-deliver"></i>
											</div>
											<div class="small-box-footer">&nbsp;<i class="fa fa-arrow-circle-right"></i></div>
										</a>
									</div>
									<div class="col-50" style="padding-left: 5px;">
										<a href="$!{env.appUrl}/trade/list.htm?type=send" class="small-box" style="background-color: #B9C14D; color: #FFFFFF;" data-ignore-cache="true">
											<div class="inner">
												<h3>收货单</h3>
												<p>今天：0<br/>本月：0</p>
											</div>
											<div class="icon">
												<i class="icon iconfont icon-list"></i>
											</div>
											<div class="small-box-footer">&nbsp;<i class="fa fa-arrow-circle-right"></i></div>
										</a>
									</div>
								</div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
			
			<div id="view-2" class="view tab">
				<div class="navbar"><div class="navbar-inner"></div></div>
				<div class="pages navbar-through toolbar-through">
                    <div class="page"></div>
				</div>
            </div>
			
			<div id="view-3" class="view tab">
				<div class="navbar"><div class="navbar-inner"></div></div>
				<div class="pages navbar-through toolbar-through">
					<div class="page"></div>
                </div>
            </div>
			
			<div id="view-4" class="view tab">
				<div class="navbar"><div class="navbar-inner"></div></div>
				<div class="pages navbar-through toolbar-through">
					<div class="page"></div>
                </div>
            </div>
			
			<div id="view-5" class="view tab">
				<div class="navbar"><div class="navbar-inner"></div></div>
				<div class="pages navbar-through toolbar-through">
					<div class="page"></div>
                </div>
            </div>
			
			<div class="toolbar tabbar tabbar-labels">
				<div class="toolbar-inner">
					<a id="href-1" href="#view-1" class="tab-link active">
						<i class="icon iconfont icon-home" style="font-size: 25px;"></i>
						<span class="tabbar-label">首页</span>
                    </a>
                    <a id="href-2" href="#view-2" class="tab-link">
                        <i class="icon iconfont icon-deliver" style="font-size: 25px;"></i>
						<span class="tabbar-label">派送订单</span>
                    </a>
					<a id="href-3" href="#view-3" class="tab-link">
                        <i class="icon iconfont icon-shop" style="font-size: 25px;"></i>
						<span class="tabbar-label">采购中心</span>
                    </a>
					<a id="href-4" href="#view-4" class="tab-link">
                        <i class="icon iconfont icon-cart" style="font-size: 25px;">
							<span id="portal/home/cart"></span>
						</i>
						<span class="tabbar-label">进货车</span>
                    </a>
					<a id="href-5" href="#view-5" class="tab-link">
                        <i class="icon iconfont icon-my" style="font-size: 25px;"></i>
						<span class="tabbar-label">我的中心</span>
                    </a>
                </div>
            </div>
        </div>
		
		#JSM(["framework7", "weixin", "jquery", "common"])
		#JS_ENV_VAL()
		<script src="$!{env.imgUrl}/js/portal/home.js?t=20160513"></script>
		<script src="$!{env.imgUrl}/js/cart/index.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/item/list.js?t=20160517" async="async"></script>
		<script src="$!{env.imgUrl}/js/member/index.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/trade/list.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/trade/detail.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/trade/refund.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/user/detail.js" async="async"></script>
		<script>
        wx.config({
        			debug : false,
        			appId : '$!{ticket.appId}',
        			timestamp : $!{ticket.timestamp},
        			nonceStr : '$!{ticket.nonceStr}',
        			signature : '$!{ticket.signature}',
        			jsApiList : ['scanQRCode']
        		});
        </script>
	</body>
</html>