<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"></div>
		<div class="center sliding">采购中心</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
			<a href="javascript:item_list_scan();" class="link icon-only"> <i class="icon iconfont icon-scan" style="font-size: 21px;"></i><span></span></a>
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="item.list" class="page">
		<!-- Search bar -->
		<form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
			<div class="searchbar-input">
				<input type="search" placeholder="Search" /><a href="#" class="searchbar-clear"></a>
			</div><a href="#" class="searchbar-cancel">取消</a>
		</form>
		
		<!-- Search bar overlay -->
		<div class="searchbar-overlay"></div>
			
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="list-block accordion-list list-block-search searchbar-found" style="font-size: 15px;">
				<ul>
                    <li class="accordion-item">
						<a href="#" class="item-content item-link">
							<div class="item-media">
								<img src="$!{env.imgUrl}/image/item/detail-3.jpg" style="width: 50px;"></img>
							</div>
							<div class="item-inner">
								<div class="item-title">
									特仑苏纯牛奶利乐苗条装 ￥10<br />
                                    <span style="font-size: 12px; color: #8e8e93;">250ml×8盒×3提 共24盒</span>
								</div>
                            </div>
						</a>
						<div class="item-content">
    						<div class="item-inner">
								<div class="item-title"></div>
								<div class="item-after">
									<a href="javascript:item_list_trade('1', '1');" class="button color-orange" data-ignore-cache="true">立即下单</a>
									<a href="javascript:item_list_cart('1', '1');" class="button color-gray" style="margin-left: 5px;" data-ignore-cache="true">添加购物车</a>
								</div>
    						</div>
                        </div>
						<div class="accordion-item-content">
							<div class="content-block">
								<p style="font-size: 15px;">特仑苏纯牛奶利乐苗条装250ml×8盒×3提 共24盒</p>
								<p>
        							生产许可证编号：QS1501 0501 0294<br />
        							产品标准号：GB25190<br />
        							厂名：内蒙古蒙牛乳业(集团)股份有限公司<br />
        							配料表：生牛乳<br />
        							储藏方法：常温密闭保存<br />
        							保质期：180 天<br />
        							净含量: 8x3x250ml
        						</p>
							</div>
						</div>
					</li>
					
					<li class="accordion-item">
						<a href="#" class="item-content item-link">
							<div class="item-media">
								<img src="$!{env.imgUrl}/image/item/detail-3.jpg" style="width: 50px;"></img>
							</div>
							<div class="item-inner">
								<div class="item-title">
									特仑苏谷粒调制牛奶 ￥10<br />
                                    <span style="font-size: 12px; color: #8e8e93;">250ml×12盒×2提</span>
								</div>
                            </div>
						</a>
						<div class="item-content">
    						<div class="item-inner">
								<div class="item-title"></div>
								<div class="item-after">
									<a href="javascript:item_list_trade('2', '2');" class="button color-orange" data-ignore-cache="true">立即下单</a>
									<a href="javascript:item_list_cart('2', '2');" class="button color-gray" style="margin-left: 5px;" data-ignore-cache="true">添加购物车</a>
								</div>
    						</div>
                        </div>
						<div class="accordion-item-content">
							<div class="content-block">
								<p style="font-size: 15px;">特仑苏谷粒调制牛奶250ml×12盒×2提</p>
								<p>
        							生产许可证编号：QS1501 0501 0294<br />
        							产品标准号：GB25190<br />
        							厂名：内蒙古蒙牛乳业(集团)股份有限公司<br />
        							配料表：生牛乳<br />
        							储藏方法：常温密闭保存<br />
        							保质期：180 天<br />
        							净含量: 8x3x250ml
        						</p>
							</div>
						</div>
					</li>
					
					 <li class="accordion-item">
						<a href="#" class="item-content item-link">
							<div class="item-media">
								<img src="$!{env.imgUrl}/image/item/detail-3.jpg" style="width: 50px;"></img>
							</div>
							<div class="item-inner">
								<div class="item-title">
									特仑苏纯牛奶利乐苗条装 ￥10<br />
                                    <span style="font-size: 12px; color: #8e8e93;">250ml×8盒×3提 共24盒</span>
								</div>
                            </div>
						</a>
						<div class="item-content">
    						<div class="item-inner">
								<div class="item-title"></div>
								<div class="item-after">
									<a href="javascript:item_list_trade('1', '1');" class="button color-orange" data-ignore-cache="true">立即下单</a>
									<a href="javascript:item_list_cart('1', '1');" class="button color-gray" style="margin-left: 5px;" data-ignore-cache="true">添加购物车</a>
								</div>
    						</div>
                        </div>
						<div class="accordion-item-content">
							<div class="content-block">
								<p style="font-size: 15px;">特仑苏纯牛奶利乐苗条装250ml×8盒×3提 共24盒</p>
								<p>
        							生产许可证编号：QS1501 0501 0294<br />
        							产品标准号：GB25190<br />
        							厂名：内蒙古蒙牛乳业(集团)股份有限公司<br />
        							配料表：生牛乳<br />
        							储藏方法：常温密闭保存<br />
        							保质期：180 天<br />
        							净含量: 8x3x250ml
        						</p>
							</div>
						</div>
					</li>
					
					<li class="accordion-item">
						<a href="#" class="item-content item-link">
							<div class="item-media">
								<img src="$!{env.imgUrl}/image/item/detail-3.jpg" style="width: 50px;"></img>
							</div>
							<div class="item-inner">
								<div class="item-title">
									特仑苏谷粒调制牛奶 ￥10<br />
                                    <span style="font-size: 12px; color: #8e8e93;">250ml×12盒×2提</span>
								</div>
                            </div>
						</a>
						<div class="item-content">
    						<div class="item-inner">
								<div class="item-title"></div>
								<div class="item-after">
									<a href="javascript:item_list_trade('2', '2');" class="button color-orange" data-ignore-cache="true">立即下单</a>
									<a href="javascript:item_list_cart('2', '2');" class="button color-gray" style="margin-left: 5px;" data-ignore-cache="true">添加购物车</a>
								</div>
    						</div>
                        </div>
						<div class="accordion-item-content">
							<div class="content-block">
								<p style="font-size: 15px;">特仑苏谷粒调制牛奶250ml×12盒×2提</p>
								<p>
        							生产许可证编号：QS1501 0501 0294<br />
        							产品标准号：GB25190<br />
        							厂名：内蒙古蒙牛乳业(集团)股份有限公司<br />
        							配料表：生牛乳<br />
        							储藏方法：常温密闭保存<br />
        							保质期：180 天<br />
        							净含量: 8x3x250ml
        						</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
        </div>
		
		<form id="item/list/trade" action="$!{env.appUrl}/trade/create.htm" method="POST" class="ajax-submit">
			<input type="hidden" id="item_list_trade_itemId" name="itemId"></input>
			<input type="hidden" id="item_list_trade_skuId" name="skuId"></input>
        </form>
		
		<form id="item/list/cart" action="$!{env.appUrl}/cart/add.htm" method="POST" class="ajax-submit">
			<input type="hidden" id="item_list_cart_itemId" name="itemId"></input>
			<input type="hidden" id="item_list_cart_skuId" name="skuId"></input>
        </form>
    </div>
</div>