<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"></div>
		<div class="center sliding">采购中心</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
			<a href="javascript:item_list_scan();" class="link icon-only"> <i class="iconfont icon-scan" style="font-size: 21px;"></i><span></span></a>
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="item.list" class="page">
		<!-- Search bar -->
		<form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
			<div class="searchbar-input">
				<input type="search" placeholder="Search" /><a href="#" class="searchbar-clear"></a>
			</div><a href="#" class="searchbar-cancel">取消</a>
		</form>
		
		<!-- Search bar overlay -->
		<div class="searchbar-overlay"></div>
			
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="list-block list-block-search searchbar-found" style="font-size: 15px;">
				<ul>
					#foreach($item in $!{itemList})
						#if($!{item.skuList})
							<!-- 存在sku -->
    						#foreach($sku in $!{item.skuList})
                            <li>
        						<div class="item-content">
        							<div class="item-media">
										#if($!{item.itemFileList.size()} > 0)
        								<img data-src="$!{item.itemFileList.get(0).filePath}" class="lazy" style="width: 50px; height: 50px;"></img>
										#end
        							</div>
        							<div class="item-inner">
        								<div class="item-title">
        									$!{item.itemName} ￥$!formatUtil.getAmountFormat($!{sku.price})<br />
                                            <span style="font-size: 12px; color: #8e8e93;">$!{sku.propertiesName}</span>
        								</div>
                                    </div>
        						</div>
        						<div class="item-content">
            						<div class="item-inner">
                                        <div class="item-title" style="font-size: 13px; color: #8e8e93;">供应商：$!{item.supName} <div style="display: none;">$!{sku.barCode}</div></div>
        								<div class="item-after">
											<a href="#" data-picker=".picker-$!{item.itemId}-$!{sku.skuId}" class="open-picker"><i class="iconfont icon-cart" style="font-size: 25px; color: #FF5500;"></i></a>
        								</div>
            						</div>
                                </div>
        					</li>
							#end
						#else
    						<!-- 不存在sku -->
                            <li>
        						<div class="item-content">
        							<div class="item-media">
										#if($!{item.itemFileList.size()} > 0)
        								<img data-src="$!{item.itemFileList.get(0).filePath}" class="lazy" style="width: 50px; height: 50px;"></img>
										#end
        							</div>
        							<div class="item-inner">
        								<div class="item-title">
        									$!{item.itemName} ￥$!formatUtil.getAmountFormat($!{item.price})
        								</div>
                                    </div>
        						</div>
        						<div class="item-content">
            						<div class="item-inner">
                                        <div class="item-title" style="font-size: 13px; color: #8e8e93;">供应商：$!{item.supName} <div style="display: none;">$!{item.barCode}</div></div>
        								<div class="item-after">
											<a href="#" data-picker=".picker-$!{item.itemId}-0" class="open-picker"><i class="iconfont icon-cart" style="font-size: 23px; color: #FF5500;"></i></a>
        								</div>
            						</div>
                                </div>
        					</li>
						#end
					#end
				</ul>
			</div>
			
			<div class="item-list-overlay"></div>
        </div>
		
		#foreach($item in $!{itemList})
			#if($!{item.skuList})
    			<!-- 存在sku -->
    			#foreach($sku in $!{item.skuList})
                <!-- Picker -->
                <div class="picker-modal picker-$!{item.itemId}-$!{sku.skuId}" style="background: #FFFFFF; margin-bottom: 50px;">
                    <div class="toolbar" style="background: #FFFFFF;">
                    	<div class="toolbar-inner">
                    		<div class="left">$!{item.itemName}</div>
                    		<div class="right"><a href="#" class="close-picker"><i class="iconfont icon-close" style="font-size: 20px; color: #8e8e93;"></i></a></div>
                    	</div>
                    </div>
                    <div class="picker-modal-inner">
                    	<div class="content-block" style="margin-top: 0; margin-bottom: 0;">
                    		<p style="font-size: 15px;">$!{sku.propertiesName}</p>
							<p>$!{item.remark}</p>
							#if($!{sku.barCode})
							<p>条码：$!{sku.barCode}</p>
							#end
                    	</div>
						<div class="list-block" style="margin-top: 0; margin-bottom: 0;">
							<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title"></div>
    								<div class="item-after">￥$!formatUtil.getAmountFormat($!{sku.price})</div>
    							</div>
                            </div>
							<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title">购买数量：</div>
    								<div class="item-after">
    									<div class="quantity">
    										<button class="minus" type="button"></button>
                                            <input id="item/list/quantity/$!{item.itemId}/$!{sku.skuId}" type="text" class="txt" value="1"></input>
    										<button class="plus" type="button"></button>
    										<div class="response-area response-area-minus" onclick="item_list_minus('$!{item.itemId}/$!{sku.skuId}');"></div>
    										<div class="response-area response-area-plus" onclick="item_list_plus('$!{item.itemId}/$!{sku.skuId}');"></div>
    									</div>
    								</div>
    							</div>
                            </div>
							<div class="item-content" style="margin-top: 20px;">
        						<div class="item-inner item-height-0">
									<div class="row no-gutter" style="width: 100%;">
										<div class="col-50">
											<a href="javascript:item_list_trade('$!{item.itemId}', '$!{sku.skuId}');" class="button button-big color-orange" data-ignore-cache="true">立即下单</a>
                                        </div>
										<div class="col-50">
											<a href="javascript:item_list_cart('$!{item.itemId}', '$!{sku.skuId}');" class="button button-big color-gray" style="margin-left: 10px;" data-ignore-cache="true">添加进货车</a>
                                        </div>
									</div>
        						</div>
                            </div>
                        </div>
                    </div>
                </div>
				#end
			#else
				<!-- 不存在sku -->
				<!-- Picker -->
                <div class="picker-modal picker-$!{item.itemId}-0" style="background: #FFFFFF; margin-bottom: 50px;">
                    <div class="toolbar" style="background: #FFFFFF;">
                    	<div class="toolbar-inner">
                    		<div class="left">$!{item.itemName}</div>
                    		<div class="right"><a href="#" class="close-picker"><i class="iconfont icon-close" style="font-size: 20px; color: #8e8e93;"></i></a></div>
                    	</div>
                    </div>
                    <div class="picker-modal-inner">
                    	<div class="content-block" style="margin-top: 0; margin-bottom: 0;">
							<p>$!{item.remark}</p>
							#if($!{sku.barCode})
							<p>条码：$!{item.barCode}</p>
							#end
                    	</div>
						<div class="list-block" style="margin-top: 0; margin-bottom: 0;">
							<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title"></div>
    								<div class="item-after">￥$!formatUtil.getAmountFormat($!{item.price})</div>
    							</div>
                            </div>
							<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title">购买数量：</div>
    								<div class="item-after">
    									<div class="quantity">
    										<button class="minus" type="button"></button>
                                            <input id="item/list/quantity/$!{item.itemId}/0" type="text" class="txt" value="1"></input>
    										<button class="plus" type="button"></button>
    										<div class="response-area response-area-minus" onclick="item_list_minus('$!{item.itemId}/0');"></div>
    										<div class="response-area response-area-plus" onclick="item_list_plus('$!{item.itemId}/0');"></div>
    									</div>
    								</div>
    							</div>
                            </div>
							<div class="item-content" style="margin-top: 20px;">
        						<div class="item-inner item-height-0">
									<div class="row no-gutter" style="width: 100%;">
										<div class="col-50">
											<a href="javascript:item_list_trade('$!{item.itemId}', '0');" class="button button-big color-orange" data-ignore-cache="true">立即下单</a>
                                        </div>
										<div class="col-50">
											<a href="javascript:item_list_cart('$!{item.itemId}', '0');" class="button button-big color-gray" style="margin-left: 10px;" data-ignore-cache="true">添加进货车</a>
                                        </div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
			#end
		#end
				
		<form id="item/list/trade" action="$!{env.appUrl}/trade/create.htm" method="POST" class="ajax-submit item-list-trade">
			<input type="hidden" id="item_list_trade_itemId" name="itemId"></input>
			<input type="hidden" id="item_list_trade_skuId" name="skuId"></input>
			<input type="hidden" id="item_list_trade_quantity" name="quantity"></input>
        </form>
		
		<form id="item/list/cart" action="$!{env.appUrl}/cart/add.htm" method="POST" class="ajax-submit item-list-cart">
			<input type="hidden" id="item_list_cart_itemId" name="itemId"></input>
			<input type="hidden" id="item_list_cart_skuId" name="skuId"></input>
			<input type="hidden" id="item_list_cart_quantity" name="quantity"></input>
        </form>
    </div>
</div>


