<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"></div>
		<div class="center sliding">采购中心</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="item.list" class="page">
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="list-block accordion-list" style="font-size: 15px;">
				<ul>
                    <li class="accordion-item">
						<a href="#" class="item-content item-link">
							<div class="item-media">
								<img src="$!{env.imgUrl}/image/item/detail-3.jpg" style="width: 50px;"></img>
							</div>
							<div class="item-inner">
								<div class="item-title">
									特仑苏纯牛奶利乐苗条装<br />
                                    <span style="font-size: 12px; color: #8e8e93;">250ml×8盒×3提 共24盒</span>
								</div>
                            </div>
						</a>
						<div class="item-content">
    						<div class="item-inner">
								<div class="item-title label" style="text-align: right;">采购数量：</div>
								<div class="item-input">
									<select>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
									</select>
								</div>
								<div class="item-after">
									<a href="#" class="button color-orange" data-ignore-cache="true">立即下单</a>
									<a href="#" class="button color-gray" style="margin-left: 5px;" data-ignore-cache="true">添加购物车</a>
								</div>
    						</div>
                        </div>
						<div class="accordion-item-content">
							<div class="content-block">
								<p style="font-size: 15px;">特仑苏纯牛奶利乐苗条装250ml×8盒×3提 共24盒</p>
								<p>
        							生产许可证编号：QS1501 0501 0294<br />
        							产品标准号：GB25190<br />
        							厂名：内蒙古蒙牛乳业(集团)股份有限公司<br />
        							配料表：生牛乳<br />
        							储藏方法：常温密闭保存<br />
        							保质期：180 天<br />
        							净含量: 8x3x250ml
        						</p>
							</div>
						</div>
					</li>
					
					<li class="accordion-item">
						<a href="#" class="item-content item-link">
							<div class="item-media">
								<img src="$!{env.imgUrl}/image/item/detail-3.jpg" style="width: 50px;"></img>
							</div>
							<div class="item-inner">
								<div class="item-title">
									特仑苏谷粒调制牛奶<br />
                                    <span style="font-size: 12px; color: #8e8e93;">250ml×12盒×2提</span>
								</div>
                            </div>
						</a>
						<div class="item-content">
    						<div class="item-inner">
								<div class="item-title label" style="text-align: right;">采购数量：</div>
								<div class="item-input">
									<select>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
									</select>
								</div>
								<div class="item-after">
									<a href="#" class="button color-orange" data-ignore-cache="true">立即下单</a>
									<a href="#" class="button color-gray" style="margin-left: 5px;" data-ignore-cache="true">添加购物车</a>
								</div>
    						</div>
                        </div>
						<div class="accordion-item-content">
							<div class="content-block">
								<p style="font-size: 15px;">特仑苏谷粒调制牛奶250ml×12盒×2提</p>
								<p>
        							生产许可证编号：QS1501 0501 0294<br />
        							产品标准号：GB25190<br />
        							厂名：内蒙古蒙牛乳业(集团)股份有限公司<br />
        							配料表：生牛乳<br />
        							储藏方法：常温密闭保存<br />
        							保质期：180 天<br />
        							净含量: 8x3x250ml
        						</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
        </div>
    </div>
</div>