<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			#if($!{shop})
			<a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a>
			#else
			<a href="$!{env.appUrl}/user/shop.htm" class="back link external"> <i class="iconfont icon-close"></i><span></span></a>
			#end
		</div>
		<div class="center sliding"></div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="user.setPassword" class="page no-tabbar">
		<!-- Scrollable page content-->
		<div class="page-content login-screen-content">
			<div class="login-screen-title" style="font-size: 25px;">设置登录密码</div>
			<form id="user/setPassword/form" method="POST" class="ajax-submit user-setPassword-form">
				<div class="list-block">
					<ul>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label" style="text-align: center;">账号</div>
								<div class="item-input">
                                    $!{user.passport}
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label" style="text-align: center;">密码</div>
								<div class="item-input">
                                    <input type="password" id='J_Pwd' name="password" placeholder="设置登录密码"></input>
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label" style="text-align: center;">确认密码</div>
								<div class="item-input">
                                    <input type="password" id='J_RePwd' placeholder="再次输入密码"></input>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-block" style="margin: 0 20px;">
					<ul>
						<li>
							<a href="javascript:updatePassword();" class="button button-big button-fill" style="background-color: #04BE02;">完 成</a>
						</li>
					</ul>
				</div>
			</form>
        </div>
    </div>
</div>