<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
		<div class="center sliding">我的销售</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="sale.list" class="page no-tabbar">
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="list-block" style="font-size: 15px;">
				<ul class="page-settings">
					<li class="row" style="text-align: center;">
						<div class="col-50" style="width: 50%;">
							<h3 id="sale/list/a">0.00</h3>
							<div class="color-gray">今天(元)</div>
                        </div>
						<div class="col-50" style="width: 50%;">
							<h3 id="sale/list/b">0.00</h3>
							<div class="color-gray">本月(元)</div>
                        </div>
					</li>
                </ul>
            </div>
			
			<div class="list-block" style="font-size: 14px;">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-media"><i class="iconfont icon-calendar"></i></div>
							<div class="item-inner">
								<div class="item-title label">统计时间</div>
								<div class="item-input">
									<input type="text" style="font-size: 14px;" id="sale/list/date" value="$!{year}年$!{month}月"></input>
									<input type="hidden" id="sale/list/year" value="$!{year}"/>
									<input type="hidden" id="sale/list/month" value="$!{month}"/>
								</div>
							</div>
                        </div>
                    </li>
                </ul>
            </div>
			
			#if($!{saleList} && $!{saleList.size()} > 0)
			#set($d = '00')
			<div class="list-block" style="font-size: 14px;">
				#foreach($sale in $!{saleList})
				#set($dd = $!stringUtil.substring($!{sale.tradeDate}, 8, 10))
				#if($d != $dd)
					#if($d != '00') </ul> #end
				<div class="content-block-title" style="margin-top: 10px;">$dd日</div>
				<ul>
					#set($d = $dd)
				#end
					<li>
						<a href="$!{env.appUrl}/sale/detail.htm?tradeNo=$!{sale.tradeNo}" class="item-link item-content">
							<div class="item-media"><i class="iconfont icon-goods"></i></div>
							<div class="item-inner">
								<div class="item-title">线下订单 $!{sale.tradeNo}</div>
								<div class="item-after">$!formatUtil.getAmountFormat($!{sale.amount})</div>
							</div>
						</a>
					</li>
				#end
				</ul>
            </div>
			#else
			<div class="empty-list">
				<div class="empty-list-header">
					<h4>居然还没有订单</h4>
					<span></span>
				</div>
				<div class="empty-list-content">
				</div>
			</div>
			#end
        </div>
    </div>
</div>