<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="itemAction" class="com.hsh24.dms.item.action.ItemAction" parent="baseAction" scope="request">
		<property name="itemService" ref="itemService" />
	</bean>
	
	<bean id="itemService" class="com.hsh24.dms.item.service.impl.ItemServiceImpl">
		<property name="itemRegionService" ref="itemRegionService" />
		<property name="itemFileService" ref="itemFileService" />
		<property name="itemSkuService" ref="itemSkuService" />
		<property name="specService" ref="specService" />
		<property name="shopService" ref="shopService" />
		<property name="regionService" ref="regionService" />
		<property name="itemDao" ref="itemDao" />
	</bean>
	
	<bean id="itemDao" class="com.hsh24.dms.item.dao.impl.ItemDaoImpl" parent="baseDao" />
	
</beans>