<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="userAcctAction" class="com.hsh24.dms.user.action.UserAcctAction" parent="baseAction" scope="request">
		<property name="userAcctService" ref="userAcctService" />
	</bean>
	
	<!-- 账号管理 -->
	<bean id="userAcctService" class="com.hsh24.dms.user.service.impl.UserAcctServiceImpl">
		<property name="memcachedCacheService" ref="memcachedCacheService" />
		<property name="smsService" ref="smsService" />
	</bean>
	
</beans>