<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="itemAction" class="com.wideka.dms.item.action.ItemAction" parent="baseAction" scope="request">
		<property name="itemService" ref="itemService" />
	</bean>
	<bean id="itemService" class="com.wideka.dms.item.service.impl.ItemServiceImpl">
		<property name="itemFileService" ref="itemFileService" />
		<property name="itemSkuService" ref="itemSkuService" />
		<property name="specService" ref="specService" />
		<property name="itemDao" ref="itemDao" />
	</bean>
	<bean id="itemDao" class="com.wideka.dms.item.dao.impl.ItemDaoImpl" parent="baseDao" />
	
	<!-- 商品文件 -->
	<bean id="itemFileService" class="com.wideka.dms.item.service.impl.ItemFileServiceImpl">
	</bean>
	
	<!-- sku -->
	<bean id="itemSkuService" class="com.wideka.dms.item.service.impl.ItemSkuServiceImpl">
		<property name="itemSkuDao" ref="itemSkuDao" />
	</bean>
	<bean id="itemSkuDao" class="com.wideka.dms.item.dao.impl.ItemSkuDaoImpl" parent="baseDao" />
	
</beans>